* body {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.board-row {
  display: flex;
}

.square {
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 32px;
  font-weight: bold;
  line-height: 64px;
  height: 80px;
  width: 80px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}